<header>
  <nav class="navbar navbar-light bg-light mx-3">
    <h2 class="navbar-brand"> <%= link_to "Wikinimous", articles_path, class:"icon " %> </h2>
    <p class="navbar-brand"> <%= link_to "New Article", new_article_path, class:"icon" %> </p>
  </nav>
</header>
